:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
:root::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #ebebeb;
  border-radius: 1rem;
}
:root::-webkit-scrollbar-thumb:hover {
  background-color: #dcdcdc;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
  background: #f5f5f5;
  color: #000;
}
a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
a:link {
  color: #ff96a3;
}
a:visited {
  color: #ff96a3;
}
a:hover {
  color: #ff7687;
}
a:active {
  color: #ff4e64;
}
.container {
  min-height: 100vh;
  position: relative;
}
.wrap {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 8rem;
}
.index-content {
  margin: auto;
  max-width: 700px;
}
.index-content .post-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  background: #fafafa;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.index-content .post-item:hover {
  -webkit-transform: scale(102%);
      -ms-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
}
.tab {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 700px;
}
.tab .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
.tab .tab-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tab .tab-list .item:hover:not(.current) {
  background: #ebebeb;
}
.tab .tab-list .item .to-tab {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tab .tab-list .item .to-tab:link {
  color: #999ca0;
}
.tab .tab-list .item .to-tab:visited {
  color: #999ca0;
}
.tab .tab-list .item .to-tab:hover {
  color: #000;
}
.tab .tab-list .item .to-tab:active {
  color: #000;
}
.tab .tab-list .dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999ca0;
  margin: 0 0.5rem;
}
.tab .tab-list .current {
  background: #ff7687;
}
.tab .tab-list .current .to-tab:link {
  color: #fff;
}
.tab .tab-list .current .to-tab:visited {
  color: #fff;
}
.tab .tab-list .current .to-tab:hover {
  color: #fff;
}
.tab .tab-list .current .to-tab:active {
  color: #fff;
}
button {
  cursor: pointer;
  border: none;
}
button.s {
  font-size: 12px;
  border-radius: 0.5rem;
  height: 32px;
  padding: 0 12px;
}
button.m {
  font-size: 14px;
  border-radius: 0.5rem;
  height: 40px;
  padding: 0 16px;
}
button.l {
  font-size: 16px;
  border-radius: 0.5rem;
  height: 48px;
  padding: 0 20px;
}
button.primary {
  color: #fff;
  background: #ff7687;
}
button.primary:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0.2))), #ff7687;
  background: -o-linear-gradient(bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.2)), #ff7687;
  background: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2)), #ff7687;
}
button.primary:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.12)), to(rgba(255,255,255,0.12))), #ff7687;
  background: -o-linear-gradient(bottom, rgba(255,255,255,0.12), rgba(255,255,255,0.12)), #ff7687;
  background: linear-gradient(0deg, rgba(255,255,255,0.12), rgba(255,255,255,0.12)), #ff7687;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(78,70,180,0.08);
          box-shadow: 0px 0px 0px 6px rgba(78,70,180,0.08);
}
button.primary:disabled {
  cursor: not-allowed;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.8))), #ff7687;
  background: -o-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), #ff7687;
  background: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), #ff7687;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
}
button.secondary {
  color: #000;
  background: #f5f5f5;
}
button.secondary:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.07)), to(rgba(0,0,0,0.07))), #f5f5f5;
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.07), rgba(0,0,0,0.07)), #f5f5f5;
  background: linear-gradient(0deg, rgba(0,0,0,0.07), rgba(0,0,0,0.07)), #f5f5f5;
}
button.secondary:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.1))), #f5f5f5;
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), #f5f5f5;
  background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), #f5f5f5;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(78,70,180,0.08);
          box-shadow: 0px 0px 0px 6px rgba(78,70,180,0.08);
}
button.secondary:disabled {
  cursor: not-allowed;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0.05))), #f5f5f5;
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), #f5f5f5;
  background: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), #f5f5f5;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
}
button.line {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #ff7687;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ff7687;
}
button.line:hover,
button.line:active {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0.2))), #ff7687;
  background: -o-linear-gradient(bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.2)), #ff7687;
  background: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2)), #ff7687;
}
button.line:focus {
  -webkit-box-shadow: 0px 0px 0px 6px rgba(78,70,180,0.08);
          box-shadow: 0px 0px 0px 6px rgba(78,70,180,0.08);
}
button.line:disabled {
  cursor: not-allowed;
  border-color: #999ca0;
  color: #999ca0;
  background: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
}
.paginator {
  text-align: center;
  margin: 3.5rem 0 2rem;
}
.paginator .page-number,
.paginator .extend,
.paginator .space {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
  color: #999ca0;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.paginator .current {
  color: #fff;
  background: #ff7687;
}
.paginator .extend {
  color: #ff7687;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 40px;
}
.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  width: 9rem;
}
.header .menu-list .menu-item {
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0 1.125rem;
  height: 40px;
  line-height: 40px;
}
.header .menu-list .menu-item:hover {
  background: #ebebeb;
}
.header .menu-list .current {
  font-weight: bold;
}
.header .menu-list .current:link {
  color: #000;
}
.header .menu-list .current:visited {
  color: #000;
}
.header .menu-list .current:hover {
  color: #000;
}
.header .menu-list .current:active {
  color: #000;
}
.header .menu-list a {
  text-decoration: none;
}
.header .menu-list a:link {
  color: #999ca0;
}
.header .menu-list a:visited {
  color: #999ca0;
}
.header .menu-list a:hover {
  color: #000;
}
.header .menu-list a:active {
  color: #000;
}
.footer {
  height: 6rem;
  width: 100%;
  padding-top: 2em;
  text-align: center;
  line-height: 6rem;
  position: absolute;
  bottom: 0;
}
.footer .copyright {
  font-size: 14px;
  color: #999ca0;
}
.wrap .article {
  margin: auto;
  border-radius: 12px;
  background: #fafafa;
  -webkit-box-shadow: 0px 8px 24px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 8px 24px -6px rgba(0,0,0,0.16);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 900px;
  padding: 20px 50px;
}
.wrap .article .article-title {
  text-align: center;
}
.wrap .article .article-info {
  margin: 30px 0;
}
.archive-content {
  margin: auto;
  max-width: 700px;
}
.archive-content .archive-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}
.archive-content .archive-list .archive-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.archive-content .archive-list .archive-list-item:hover:not(.current) {
  background: #ebebeb;
}
.archive-content .archive-list .archive-list-item .archive-list-link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.archive-content .archive-list .archive-list-item .archive-list-link:link {
  color: #999ca0;
}
.archive-content .archive-list .archive-list-item .archive-list-link:visited {
  color: #999ca0;
}
.archive-content .archive-list .archive-list-item .archive-list-link:hover {
  color: #000;
}
.archive-content .archive-list .archive-list-item .archive-list-link:active {
  color: #000;
}
.archive-content .archive-list .current {
  background: #ff7687;
}
.archive-content .archive-list .current .archive-list-link:link {
  color: #fff;
}
.archive-content .archive-list .current .archive-list-link:visited {
  color: #fff;
}
.archive-content .archive-list .current .archive-list-link:hover {
  color: #fff;
}
.archive-content .archive-list .current .archive-list-link:active {
  color: #fff;
}
.archive-content .month-list {
  width: 100%;
  padding: 3rem 3rem;
  border-radius: 1rem;
  background: #fafafa;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
  margin-top: 3rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  list-style: none;
}
.archive-content .month-list:hover {
  -webkit-box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
}
.archive-content .month-list .month-item {
  margin-bottom: 2.4rem;
}
.archive-content .month-list .month-item .month {
  width: 72px;
  font-size: 32px;
  text-align: center;
  color: #ff96a3;
  opacity: 0.5;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}
.archive-content .month-list .month-item .month span {
  font-size: 16px;
  position: relative;
  top: -0.8rem;
}
.archive-content .month-list .month-item .post-list {
  font-size: 18px;
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
  list-style: none;
}
.archive-content .month-list .month-item .post-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.archive-content .month-list .month-item .post-list .item a {
  display: block;
  padding: 2px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.archive-content .month-list .month-item .post-list .item a:link {
  color: #000;
}
.archive-content .month-list .month-item .post-list .item a:visited {
  color: #000;
}
.archive-content .month-list .month-item .post-list .item a:hover {
  color: #000;
  padding-left: 1.5rem;
}
.archive-content .month-list .month-item .post-list .item a:active {
  color: #000;
}
.archive-content .month-list .month-item .post-list .item span {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 20px;
  color: #999ca0;
  margin-right: 1.5rem;
  text-align: center;
  word-break: break-all;
}
.category-contetn {
  margin: auto;
  max-width: 700px;
}
.category-contetn .post-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  background: #fafafa;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.category-contetn .post-item:hover {
  -webkit-transform: scale(102%);
      -ms-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
}
.category-contetn .nav {
  max-width: 670px;
  margin: auto;
  margin-bottom: 2.5rem;
}
.category-contetn .nav .back {
  display: block;
  font-size: 14px;
  height: 2rem;
  padding: 0 0.5rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #ff7687;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.category-contetn .nav .back:hover,
.category-contetn .nav .back:active {
  color: #ff4e64;
  background: #ebebeb;
}
.category-contetn .nav .current {
  display: block;
  font-size: 32px;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.category-contetn .cat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category-contetn .cat-list .cat-item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 332px;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  background: #fafafa;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
  margin-bottom: 2rem;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.category-contetn .cat-list .cat-item:hover {
  -webkit-transform: scale(102%);
      -ms-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
}
.category-contetn .cat-list .cat-item .cat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}
.category-contetn .cat-list .cat-item .cat-name .name-link {
  font-size: 24px;
  text-decoration: none;
}
.category-contetn .cat-list .cat-item .cat-name .name-link:link {
  color: #ff96a3;
}
.category-contetn .cat-list .cat-item .cat-name .name-link:visited {
  color: #ff96a3;
}
.category-contetn .cat-list .cat-item .cat-name .name-link:hover {
  color: #ff7687;
}
.category-contetn .cat-list .cat-item .cat-name .name-link:active {
  color: #ff4e64;
}
.category-contetn .cat-list .cat-item .cat-name .posts-count {
  display: block;
  font-size: 12px;
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  color: #999ca0;
  background: #ebebeb;
}
.category-contetn .cat-list .cat-item .cat-posts {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.category-contetn .cat-list .cat-item .cat-posts .post {
  font-size: 14px;
  margin-top: 1rem;
}
.category-contetn .cat-list .cat-item .cat-posts .post a {
  word-break: break-all;
  text-decoration: none;
}
.category-contetn .cat-list .cat-item .cat-posts .post a:link {
  color: #999ca0;
}
.category-contetn .cat-list .cat-item .cat-posts .post a:visited {
  color: #999ca0;
}
.category-contetn .cat-list .cat-item .cat-posts .post a:hover {
  color: #000;
}
.category-contetn .cat-list .cat-item .cat-posts .post a:active {
  color: #000;
}
.tag-contetn {
  margin: auto;
  max-width: 700px;
}
.tag-contetn .post-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  background: #fafafa;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.tag-contetn .post-item:hover {
  -webkit-transform: scale(102%);
      -ms-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 12px 12px -6px rgba(0,0,0,0.16);
}
.tag-contetn .nav {
  max-width: 670px;
  margin: auto;
  margin-bottom: 2.5rem;
}
.tag-contetn .nav .back {
  display: block;
  font-size: 14px;
  height: 2rem;
  padding: 0 0.5rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: #ff7687;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.tag-contetn .nav .back:hover,
.tag-contetn .nav .back:active {
  color: #ff4e64;
  background: #ebebeb;
}
.tag-contetn .nav .current {
  display: block;
  font-size: 32px;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.tag-contetn .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  margin: auto;
}
.tag-contetn .tagcloud a {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: #fafafa;
  -webkit-box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
          box-shadow: 0px 6px 6px -6px rgba(0,0,0,0.16);
  margin: 0.5rem;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.tag-contetn .tagcloud a:hover {
  -webkit-transform: scale(125%);
      -ms-transform: scale(125%);
          transform: scale(125%);
  -webkit-box-shadow: 0px 32px 32px -8px rgba(0,0,0,0.08), 0px 0px 32px -8px rgba(0,0,0,0.12), 0px 0px 1px rgba(0,0,0,0.2);
          box-shadow: 0px 32px 32px -8px rgba(0,0,0,0.08), 0px 0px 32px -8px rgba(0,0,0,0.12), 0px 0px 1px rgba(0,0,0,0.2);
}
